Django==5.1.7
djangorestframework-simplejwt==5.5.0
djangorestframework==3.15.2
channels==4.2.0
channels-redis==4.2.1
django-cors-headers==4.6.0
python-dotenv==1.0.1
psycopg2-binary==2.9.10
pgvector==0.3.6
celery[redis]==5.4.0
django-celery-results==2.5.1
gunicorn==23.0.0
uvicorn[standard]==0.34.0
cloudinary==1.44.1
Pillow==11.1.0
google-adk==2.1.0
firebase-admin==6.6.0
SQLAlchemy==2.0.41
asyncpg==0.30.0
openpyxl==3.1.5
pydantic-settings==2.9.1
